.loadingContainer,
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  gap: 1rem;
}

.loadingContainer p {
  font-family: "inter", sans-serif;
  font-size: 16px;
}
