.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.header > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header > div > h2 {
  font-family: "Test Calibre", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #090202;
}

.header > div > p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #8e98a8;
  line-height: 20px;
}

.buttonLink {
  text-decoration: none;
  background: #5865f2;
  color: #ffffff;
  font-family: "inter", sans-serif;
  font-weight: 700;
  padding: 16px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
